@model IEnumerable<TestAutocomplete.Models.Country>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <label for="searchInput">Country Search</label>
    <input id="searchInput" />
</div>

@*<ol>
        @foreach (var item in Model)
        {
            <li>@Html.DisplayFor(modelItem => item.Name)</li>
        }
    </ol>*@

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $('#searchInput').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetCountriesBySearchValue", "Home")',
                dataType: "json",
                data: { search: $('#searchInput').val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        debugger;
                        return { label: item.name, value: item.name };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Alguma coisa errada aconteceu!");
                }
            })
        }
    });
    </script>
}